/* At the top level of your code */
@media screen and (min-width: 900px) {
  article {
    -webkit-animation: wadus;
    padding: 1rem 3rem !important;
  }
}

/* Nested within another conditional at-rule */
@supports (display: flex) {
  @media screen and (min-width: 900px) {
    article {
      display: flex;
      border-color: red;
      background-color: #fff00a;
    }
  }
}

aside[role='complementary'] {
  float: right;
  width: url() calc() 300px / 960px * 100%;
}
